h1 {
    color:white;
    padding:60px;
    text-align: center;
    background-image: url("pink_cloud.jpg");
    background-size: cover;
    background-position: center;
}



h1:hover {
    color:white;
    padding:60px;
    text-align: center;
    background-color:rgb(229, 188, 195);
}

.ma-classe {
    color: #835aac;
    width: 50%;
}

.grande-taille {
    font-size: 1.5em;
}

main{
    background-color: rgb(239, 205, 210);
    color:black;
    font-family: sans-serif;
}


.bordure {
    border: 3px #EB5353 dotted;
    padding: 10px;
}